<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-2 border-secondary">
	<div class="container-fluid">
		<%= link_to "Portafolio", "#", class: "navbar-brand" %>
		<%= button_tag type: :button, class: "navbar-toggler",
			data: { bs_toggle: "collapse"} do %>
			<%= tag.span class: "navbar-toggler-icon" %>
		<% end %>
		<div class="collapse navbar-collapse" id="navbar">
			<div class="navbar-nav">
				<%= link_to "Home", root_path, class: "nav-link" %>
			</div>
		</div>
	</div>
</nav>