<div class="d-flex flex-column justify-content-center min-vh-100">
  <h1 class="text-center mb-5">Portafolio Marco Contreras</h1>
  <p class="text-center">
    <%= link_to "Mis proyectos", projects_path, class: "fs-4 nav-link d-inline me-3" %>
    <%= link_to "Contacto", contact_path, class: "fs-4 nav-link d-inline" %>
  </p>
</div>