<div class="d-flex flex-column justify-content-center min-vh-100">
  <h1 class="fs-2 text-center px-3 mb-3"><span class="typed"></span></h1>
  <p class="text-center">
    <%= link_to "Proyectos", projects_path, class: "btn btn-lg btn-outline-dark" %>
  </p>
</div>